{% extends 'articulos/base.html' %}
{% load i18n %}
{% block title %}{% trans "Tipos de Cambio - KAFE KEAN" %}{% endblock %}
{% block content %}
<div class="container page-stack">
    <h1>{% trans "Tipos de Cambio" %}</h1>
    <div class="table-responsive">
        <table class="exchange-table table text-center">
            <thead><tr><th>{% trans "Moneda" %}</th><th>{% trans "Compra" %}</th><th>{% trans "Venta" %}</th><th>{% trans "Variación" %}</th></tr></thead>
            <tbody>
            {% for tipo in tipos_de_cambio %}
                <tr><td>{{ tipo.currency }}</td><td>${{ tipo.buy }}</td><td>${{ tipo.sell }}</td><td>{{ tipo.variation }}%</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
