{% extends 'articulos/base.html' %}
{% load i18n %}

{% block content %}
<div class="container form-shell">
    <h1>{{ page_title }}</h1>
    <form method="post" enctype="multipart/form-data" class="form-card">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-row">
            <button type="submit" class="btn btn-primary">{{ submit_label }}</button>
            <a href="{% url 'articulos:lista_articulos' %}" class="btn btn-outline-primary">{% trans "Cancelar" %}</a>
        </div>
    </form>
</div>
{% endblock %}
